*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    body{
        .slider-container{
            margin : 10px auto;
            width: 900px;
            height: 450px;
            position: relative;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
                position: absolute;
                opacity: 0;
                transition: opacity 1s;
                z-index: 1;                
            }
            .active{
                opacity: 1;
            }
            .slider-number{
                position: absolute;
                left: 10px;
                top: 10px;
                background-color: rgba($color: #000000, $alpha: 0.6);
                color:white;
                padding: 5px 10px;
                font-size:20px ;
                z-index: 2;
                border-radius: 6px;
            }
            
        }
        .slider-controls{
            width: 800px;
            height: auto;
            overflow: hidden;
            margin: 0 auto;

            .prev , .next{
                background-color: #009688;
                color: #ffffff;
                font-size: 16px;
                width: 80px;
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
                padding: 5px;
                user-select: none;
                width: 20%;
            }
            .prev{
                float: left;
            }
            .next{
                float: right;
            }
            .prev.disabled  , .next.disabled{
                background-color: rgba(0,150,136, $alpha: 0.5);
                cursor:no-drop ;
                
            }
            .indicators{
                width: 60%;
                float: left;
                ul{
                    list-style: none;
                    margin: 0;
                    text-align: center;
                    li{
                        display: inline-block;
                        background-color: #F6F6F6;
                        color: #333;
                        font-weight: bold;
                        height: 28px;
                        width: 28px;
                        border-radius: 4px;
                        margin: 0 2px;
                        line-height: 28px;
                        cursor: pointer;
                    }
                    .active{
                        background-color: #009688;
                        color: white;
                        
                    }
                }
            }
        }
    }
}