*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:normal ;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF,#00FF6C);
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows:minmax(120px,auto) repeat(5 ,100px);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: span 4;
    background-color: #000000bf;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    /*  */
    word-wrap: break-word;
    word-break: break-all;
    /*  */

}
.calculator-grid button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: #ffffffbf;
    /*  */
    outline: none;
    /*  */
}
.calculator-grid button:hover{
    background-color: #e7d5d5bf;
}
.output .previous-operand{
    color: #ffffffbf;
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}